NODE_ENV=production

# MongoDB Atlas - Get from https://mongodb.com/cloud/atlas
# Format: mongodb+srv://username:password@cluster.mongodb.net/databasename
ATLASDB_URL=mongodb+srv://wanderlust:YOUR_PASSWORD@cluster0.xxx.mongodb.net/wanderlust

# Cloudinary Image Storage
CLOUD_NAME=dowgddmvy
CLOUD_API_KEY=366397987948877
CLOUD_API_SECRET=AGtou3PpUH51xsyF4fsvRYGS52s

# Session Secret
SECRET=wanderlust@2024$1234
